# Папка с зависимостями проекта.
# Она может занимать много места и легко восстанавливается командой `npm install`.
/node_modules

# Папка с собранным приложением (.exe и другие файлы).
# Генерируется при каждой сборке, нет смысла хранить ее в Git.
/dist

# Файлы базы данных SQLite.
# Они содержат данные, которые меняются во время работы приложения.
# Обычно их не добавляют в репозиторий, если только это не предзаполненная база.
/tasks.sqlite
/tasks.sqlite-shm
/tasks.sqlite-wal
/del.tasks.sqlite
/package-lock.json

# Логи и отладочные файлы
npm-debug.log*

# Системные файлы операционных систем
.DS_Store
Thumbs.db